<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title> File Uploader </title>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col">

                <div class="mb-3 mt-3">

                    <h2 class="mb-3" style="font-weight: 300">Add file to be uploaded</h2>

                    <div class="form-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="file_input" id="file_input"
                                oninput="input_filename();">
                            <label id="file_input_label" class="custom-file-label" for="image">Select file</label>
                        </div>
                    </div>

                    <button onclick="upload()" id="upload_btn" class="btn btn-primary">Upload</button>

                    <button class="btn btn-primary d-none" id="loading_btn" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Uploading...
                    </button>

                    <button type="button" id="cancel_btn" class="btn btn-secondary d-none">Cancel upload</button>

                </div>

                <div id="progress_wrapper" class="d-none">
                    <label id="progress_status"></label>
                    <div class="progress mb-3">
                        <div id="progress" class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                </div>

                <div id="alert_wrapper"></div>

            </div>
        </div>
    </div>


    <script>

        // Get references to html var used : 
        var progress = document.getElementById("progress");
        var progress_wrapper = document.getElementById("progress_wrapper");
        var progress_status = document.getElementById("progress_status");
        var upload_btn = document.getElementById("upload_btn");
        var loading_btn = document.getElementById("loading_btn");
        var cancel_btn = document.getElementById("cancel_btn");
        var alert_wrapper = document.getElementById("alert_wrapper");
        var input = document.getElementById("file_input");
        var file_input_label = document.getElementById("file_input_label");

        // Function to show alerts if the : Messade done / error / succesful upload is shown
        function show_alert(message, alert) {
            console.log("Message displayed : " + message);
            alert_wrapper.innerHTML = `
        <div id="alert" class="alert alert-${alert} alert-dismissible fade show" role="alert">
          <span>${message}</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      `

        }

        // Function that takes care of upload file process
        function upload() {

            // set the desired upload url
            url = '/upload'

            // Reject if the file input is empty & throw a error message
            if (!input.value) {
                show_alert("No file selected", "warning")
                return;
            }

            // Create a new FormData instance
            var data = new FormData();
            // using XMLHttpRequest to upload the file
            var request = new XMLHttpRequest();

            // Set the response type
            request.responseType = "json";

            // Clear any existing alerts when input file exists
            alert_wrapper.innerHTML = "";

            // Disable the input during upload so that no error occurs
            input.disabled = true;

            // Hide the upload button
            upload_btn.classList.add("d-none");

            // Show the loading button
            loading_btn.classList.remove("d-none");

            // Show the cancel button
            cancel_btn.classList.remove("d-none");

            // Show the progress bar
            progress_wrapper.classList.remove("d-none");

            // Get a reference to the file
            var file = input.files[0];

            // Get a reference to the filename
            var filename = file.name;

            // Get a reference to the filesize & set a cookie
            var filesize = file.size;
            document.cookie = `filesize=${filesize}`;

            // Append the file to the FormData instance
            data.append("file", file);

            // request progress handler
            request.upload.addEventListener("progress", function (e) {

                // Get the loaded amount and total filesize (bytes)
                var loaded = e.loaded;
                var total = e.total

                // Calculate percent uploaded
                var percent_complete = (loaded / total) * 100;

                // Update the progress text and progress bar when file is being uploaded
                progress.setAttribute("style", `width: ${Math.floor(percent_complete)}%`);
                progress_status.innerText = `${Math.floor(percent_complete)}% uploaded`;

            })

            // request success message handler
            request.addEventListener("load", function (e) {

                if (request.status == 200) {
                    console.log("here , and done" + request.status);
                    show_alert(`${filename} uploaded successfully`, "success");
                }
                else {
                    show_alert(`Error uploading file`, "danger");
                }
                reset();
            });

            // request error message handler
            request.addEventListener("error", function (e) {
                reset();
                show_alert(`Error uploading file`, "warning");
            });

            // request abort message handler
            request.addEventListener("abort", function (e) {

                reset();

                show_alert(`Upload cancelled`, "primary");

            });

            // Open and send the request
            request.open("post", url);
            request.send(data);

            cancel_btn.addEventListener("click", function () {
                request.abort();
            })

        }

        // Function to update the name of file being uploaded to the text bar
        function input_filename() {
            console.log("Input filename updated");
            file_input_label.innerText = input.files[0].name;
        }

        // Function to reset the page after upload
        function reset() {
            console.log("Reseting page...");
            input.value = null;
            cancel_btn.classList.add("d-none");
            input.disabled = false;
            upload_btn.classList.remove("d-none");
            loading_btn.classList.add("d-none");
            progress_wrapper.classList.add("d-none");
            progress.setAttribute("style", `width: 0%`);
            file_input_label.innerText = "Select file";
        }

    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</body>

</html>